body {
          background-color: rgb(242, 43, 43);
          font-size: 18px;
          font-family: monospace, Arial, Helvetica, sans-serif;
          color: #49d4e3;
          background-image: url(images/infernogamez.jpg);
          background-size: cover;
          background-position: center;
}

.navbar {
          background-color: transparent;
          padding: 10px;
          text-align: center;
}

.navbar a {
         color: inherit;
         text-decoration: none; 
         padding: 5px;
}

.navbar a:hover {
          background-color: #7d787b;
}

.navbar img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
}

.contents {
          text-align: center;
}

.contents a {
          color: inherit;
          text-decoration: none;
}

.contents a:hover {
          text-decoration: underline;
}

.footer {
          background-color: transparent;
          padding: 10px;
          text-align: center;
}

.footer a {
          color: inherit;
          text-decoration: none;
          padding: 5px;
}

.footer a:hover {
          background-color: #7d787b;
}

.footer img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
}